* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: url("background.jpg");
}
header {
  background: rgba(119, 136, 153, 0.263);
  top: 0;
  left: 0;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 20px 100px;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 50px;
  height: 50px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

.nav-elem2 {
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.nav-elem2 ul {
  margin: 0 166px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  padding-bottom: 5px;
}
.nav-elem2 li {
  list-style: none;
}
.nav-elem2 ul li a {
  transition: all 0.5s;
  text-decoration: none;
  color: #fff;
}
.nav-elem2 li a:hover {
  color: #03e9f4;
  border-bottom: 1px solid #03e9f4;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 6px;
  text-decoration: none;
  font-size: 2.5rem;
  color: #fff;
  user-select: none;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  margin: 40px 0;
}
.desc {
  width: 60%;
  margin: 10px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.desc span {
  color: #03e9f4;
  font-weight: 600;
  font-size: 18px;
}
.desc h1,
p {
  color: #fff;
  line-height: 30px;
  letter-spacing: 1px;
}
.desc p {
  font-size: 15px;
}
.desc p a {
  /* text-decoration: none; */
  color: white;
}
.cards {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}
.card-client {
  height: 20rem;
  background: #2cb5a0;
  width: 18rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #7cdacc;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #7cdacc;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}
