@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1000px;
  background: url("background.jpg");
}

header {
  display: block;
}
.header {
  background: rgba(119, 136, 153, 0.263);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 20px 100px;
}

.nav-elem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.nav-elem ul {
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  padding-bottom: 5px;
}
.nav-elem li {
  list-style: none;
}
.nav-elem ul li a {
  transition: all 0.5s;
  text-decoration: none;
  color: #fff;
}
.nav-elem li a:hover {
  color: #03e9f4;
  border-bottom: 1px solid #03e9f4;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 50px;
  height: 50px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 6px;
  text-decoration: none;
  font-size: 2.5rem;
  color: #fff;
  user-select: none;
}
#login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
#login #user h3 {
  color: #fff;
}

#login #log-btn a {
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  font-family: inherit;
  border: 1px solid #03e9f4;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#login #log-btn a::before {
  content: "";
  width: 0;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #03e9f4 0%, #03e9f4 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
#login #log-btn a:hover::before {
  width: 100%;
  box-shadow: 0 0 1px #03e9f4, 0 0 10px #03e9f4, 0 0 10px #03e9f4,
    0 0 20px #03e9f4;
}
.exp-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgb(94, 94, 94), #138de4a0, rgb(74, 74, 74));
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.exp-box h2 {
  font-size: 30px;
  font-weight: 900;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-box label {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.item-box input[type="text"] {
  font-size: 15px;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 6px;
  border: none;
  outline: none;
  border-radius: 100px;
  width: 99%;
  margin: 10px 0;
  background-color: rgba(119, 136, 153, 0.654);
  transition: 0.5s;
}

.item-box input[type="text"]:focus {
  background: transparent;
  border: 1px solid #03e9f4;
  width: 100%;
  color: #fff;
}

.exp-box form button {
  width: 100%;
  font-family: "Oswald", sans-serif;
  background: transparent;
  border: 1px solid #03e9f4;
  outline: none;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 18px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px;
  letter-spacing: 4px;
}

.exp-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px #03e9f4, 0 0 10px #03e9f4, 0 0 10px #03e9f4,
    0 0 20px #03e9f4;
}
